[BASIC]
environment=development

[REDIS]
host=redis
port=6379
password=

[RABBITMQ]
host=rabbitmq
port=5672
user=aries
password=

[DB]
;host=127.0.0.1
host=mysql
port=3306
user=root
password=
name=

[SMTP]
host=
user=aries
password=
port=
use_ssl=

