Django==3.2.4
django-import-export==2.6.1
django-mdeditor==0.1.18
django-modeladmin-reorder==0.3.1
django-redis==5.0.0
django-simple-captcha==0.5.14
django-simpleui==2021.11.5
Markdown==3.3.6
MarkupPy==1.14
Pillow==8.4.0
PyMySQL==1.0.2
cryptography==35.0.0
